.w-25{
    width: 150px!important;
    height: 50px!important;
}

main {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.styleCards{
    box-shadow: black .2em .2em;
}

.contenedor-header {
    height: 15vh;
    position: !important;
}

.contenedor-main {
    min-height: 74vh!important;
}